@import "~bootstrap/scss/bootstrap";

#app {
  text-align: center;
  background-color: #255f81;
  width: 100vw;
  height: 100vh;
}

.button {
  padding: 10px !important;
}

.contents {
  color: white;
}

#quote-machine {
  border: solid;
  border-color: white;
  padding: 20px;
}